.input-container{
  width: 100%;
  display: flex;
align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
    width : 400px;
   border : 2px solid #F35525;
   border-radius : 5px;
   padding : 5px;
  margin : 10px;
  }

 .input-button {
   border : 2px solid orangered;
   border-radius : 15px;
   background-color: #f35525;
   color: white;
   padding : 5px;
 }

