<!doctype html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta
    name = "viewport"
    content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
  <title>Document</title>
  <!-- Bootstrap core CSS -->
  <link href = "/vendor/bootstrap/css/bootstrap.min.css" rel = "stylesheet">

  <!-- Additional CSS Files -->
  <link rel = "stylesheet" href = "/assets/css/fontawesome.css">
  <link rel = "stylesheet" href = "/assets/css/templatemo-villa-agency.css">
  <link rel = "stylesheet" href = "/assets/css/owl.css">
  <link rel = "stylesheet" href = "/assets/css/animate.css">
  <link rel = "stylesheet" href = "/https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id = "js-preloader" class = "js-preloader">
  <div class = "preloader-inner">
    <span class = "dot"></span>
    <div class = "dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<%- include("../components/header") -%>
<!-- ***** Header Area End ***** -->

<div class = "page-heading header-text">
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-12">
        <span class = "breadcrumb"><a href = "#">Formulaires</a>  /  Activités</span>
        <h3>Nouvelle Activité</h3>
      </div>
    </div>
  </div>
</div>

<div class = "contact-page section">
  <div class = "container">
    <div class = "row">
      <form id = "contact-form" action = "" method = "post">
        <div class = "row">
          <div class = "col-lg-12">
            <fieldset>
              <label for = "name">Nom de l'Activité</label>
              <input
                type = "name" name = "name" id = "name" placeholder = "Nom..." autocomplete = "on" required
              >
            </fieldset>
          </div>
          <div class = "col-lg-12">
            <fieldset>
              <label for = "destination">Nom de la Destination Associée</label>
              <input
                type = "text" name = "email" id = "destination" pattern = "[^ @]*@[^ @]*" placeholder = "Destination..."
                required = ""
              >
            </fieldset>
          </div>
          <div class = "col-lg-12">
            <fieldset>
              <label for = "price">Prix</label>
              <input type = "text" name = "subject" id = "price" placeholder = "Prix..." autocomplete = "on">
            </fieldset>
          </div>
          <div class = "col-lg-12">
            <fieldset>
              <label for = "description">Description</label>
              <textarea name = "message" id = "description" placeholder = "Description..."></textarea>
            </fieldset>
          </div>
          <div class = "col-lg-12">
            <fieldset>
              <button type = "submit" id = "form-submit" class = "orange-button">Créer l'Activité</button>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ***** Footer Area Start ***** -->
<%- include("../components/footer") -%>
<!-- ***** Footer Area End ***** -->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src = "/vendor/jquery/jquery.min.js"></script>
<script src = "/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src = "/assets/js/isotope.min.js"></script>
<script src = "/assets/js/owl-carousel.js"></script>
<script src = "/assets/js/counter.js"></script>
<script src = "/assets/js/custom.js"></script>
</body>
</html>